/**
 * Parameter tooltip stylesheet
 */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 600px;
    max-width: 600px;
    width: 600px;
    background-color: #f1f1f1;

    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    border: solid black 1px;

    /* Position the tooltip */
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 100%;
    margin-left: -620px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext table {
    border-collapse: collapse;
}

.tooltip .tooltiptext table th, .tooltip .tooltiptext table td {
    border: 1px solid darkgray;
    padding: 5px;
}

.tooltip .tooltiptext h1 { /* Tooltip headline, e.g. parameter name */
    font-size: 1.5em;
    margin-top: 0.2em !important;
    margin-bottom: 0.3em !important;
}

.tooltip .tooltiptext h2 { /* Tooltip sub-headline, e.g. description*/
    font-size: 1.2em;
    margin-top: 1em !important;
    margin-bottom: 0.3em !important;
}

.tooltip .tooltiptext h3 {
    font-size: 1.05em;
    margin-top: 1em !important;
    margin-bottom: 0.3em !important;
}

.tooltip .tooltiptext h4 {
    font-size: 0.83em;
    margin-top: 1em !important;
    margin-bottom: 0.3em !important;
}

.tooltip .tooltiptext p {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.tooltip-content {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    padding: 1px;
}
