[submodule "code/components/esp32-camera"]
	path = code/components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "code/components/smartleds"]
	path = code/components/smartleds
	url = https://github.com/RoboticsBrno/SmartLeds.git
[submodule "code/components/esp-protocols"]
	path = code/components/esp-protocols
	url = https://github.com/espressif/esp-protocols/
