CompileFlags:
  # Directs clangd to look for compile_commands.json -> adapt accordingly
  CompilationDatabase: ".pio/build/esp32cam"

  Add:
    # Disable attribute-related warnings directly in the compiler frontend
    - "-Wno-attributes"
    - "-Wno-unknown-attributes"
    - "-Wno-ignored-attributes"
    - "-Wno-missing-designated-field-initializers"
    - "-Wno-vla-cxx-extension"

  Remove:
    # PSRAM cache fix flags
    - "-mfix-esp32-psram-cache-issue"
    - "-mfix-esp32-psram-cache-strategy=memw"

    # GCC-specific -f flags
    - "-fstrict-volatile-bitfields"
    - "-fno-tree-switch-conversion"
    - "-fno-jump-tables"
    - "-freorder-blocks"

    # GCC-specific -m target flags
    - "-mdisable-hardware-atomics"
    - "-mlongcalls"
    - "-mno-target-align"
    - "-mstrict-volatile-bitfields"

Index:
  # Disable indexing for standard libs
  StandardLibrary: false

Diagnostics:
  Suppress: [pp_hash_error, attribute_not_type_attr]
  # Enable clangtidy live-view
  ClangTidy:
    Add: [bugprone-*, performance-*]
    Remove: [bugprone-branch-clone, bugprone-easily-swappable-parameters]
